[2015-05-05 06:38] jbenet opened #1 "Atom Feed"
Would be nice to have an Atom feed for readers. can generate it from all the static content. (ideally would parse the title, author, date from content itself, rather than force adding a metadata frontmatter)

[2015-05-05 06:39] jbenet opened #2 "IPNS name"
Will be good to create an ipns name for the blog and keep updating it with every new blog post.

[2015-05-05 06:39] jbenet commented on #2
Depends on ipns being robust.

[2015-05-05 06:53] whyrusleeping commented on #2
record spec????

[2015-05-05 08:52] jbenet opened #3 "Needs relative urls"
I'm using `hugo` at the moment. but it's not wanting relative urls. see https://github.com/spf13/hugo/issues/1104

[2015-05-05 09:14] jbenet commented on #3
maybe there's a way to make it do relative urls correctly. not sure.

[2015-05-05 14:44] insanity54 commented on #3
tinkering

[2015-05-05 22:54] jbenet commented on #3
thanks for taking a look @insanity54

[2015-05-06 12:05] jbenet commented on #3
Given https://github.com/spf13/hugo/issues/1104#issuecomment-99261114 we probably should just use something other than hugo. :/

[2015-05-06 23:40] jbenet commented on #3
Or maybe we can rewrite the urls as a post-processing step after hugo does it's work. we'd have to:

- resolve the shortest path to the target (e.g. `/post/index.html` should link directly to `./0-hello-worlds/`instead of to `../post/0-hello-worlds/`)
- replace all links (`<a href>`, `<rel>`, `<img>`, etc.)

[2015-05-08 10:41] jbenet commented on #3
Ok, switched to [metalsmith](http://metalsmith.io) and things work now. i borrowed most of the stuff behind https://github.com/ipfs/website

[2015-05-08 10:41] #3 closed

[2015-05-08 10:44] jbenet commented on #1
https://github.com/hurrymaplelad/metalsmith-feed

[2015-05-09 14:17] #1 closed

[2015-05-09 14:18] jbenet commented on #1
added RSS feed in 762d256 -- wish there was an atom feed plugin.

[2015-10-27 00:45] jbenet opened #7 "possible posts"
- [ ] What is IPFS? (3 parts)
- [ ] ipfs patch
- [ ] Host any static website
- [ ] Host a static blog
- [ ] geoip datastructure (krl) - https://github.com/krl/ipfs-geoip
- [ ] the IPFS webui
- [ ] open street maps on IPFS
- [ ] bitswap machine learning (kbala)
- [ ] ipfs-screencap - take a screenshot and publish to IPFS https://github.com/jbenet/ipfs-screencap
- [ ] ipfs-paste - use ipfs as a past

[2015-12-08 01:31] kyledrake commented on #7
- [ ] ipfs.pics
- [ ] ipfs pastebin
- [ ] 0.4.0

[2015-12-08 01:31] jbenet commented on #7
i'd want to have these sooner:
- [ ] host a static website
- [ ] the IPFS webui
- [ ] ipfs-screencap - take a screenshot and publish to IPFS
- [ ] Run IPFS on a VPS (digital ocean) *
- [ ] Setup DNS -> IPFS and DNS -> IPNS mappings
- [ ] Stream video with IPFS
- [ ]  "pin" things to IPFS

[2015-12-08 01:34] jbenet commented on #7
http://blog.rust-lang.org/

[2015-12-08 21:54] lgierth opened #9 "Deployment"
We can deploy it to ipfs.io/blog without touching the website, similar to how github.com/ipfs/refs / ipfs.io/refs is deployed

[2015-12-09 03:39] jbenet commented on #7
I'm turning https://www.youtube.com/watch?v=HUVmypx9HGI into a talk

[2015-12-09 07:13] jbenet commented on #9
@lgierth ah yeah, we could. would be nice. also, we could use `blog.ipfs.io` -- if so, we should have both and redirect one to the other.

[2015-12-10 05:12] lgierth commented on #9
#11

[2015-12-10 05:12] #9 closed

[2015-12-11 19:25] fazo96 opened #13 "Blog is down"
https://ipfs.io/blog/ doesn't seem to work :-(

[2015-12-12 10:10] jbenet commented on #13
indeed. we broke it. @lgierth maybe just remove the redirect for now? the currently published version of the site has the previous blog there:

- https://ipfs.io/ipfs/QmTgNJEgQaCqRht9KSXNyZsCp2xpHZmBRms28NRMmtcERp/blog/

[2015-12-12 10:45] jbenet commented on #13
I just pushed an update to the website:

- https://ipfs.io/ipfs/QmR7tiySn6vFHcEjBeZNtYGAFh735PJHfEMdVEycj9jAPy

which has some new posts (inc ipscend) but not 4.

[2015-12-12 21:09] harlantwood commented on #9
@lgierth it seems what when this is working (blog published over ipns and resolving to some path and/or subdomain), we should be able to use exactly the same setup for  publishing the "project repos" board: https://github.com/ipfs/ci-status/issues/9

How manual vs automatic is this  process?  If manual, perhaps I could help with the automation, and we could use a single system to publish these two

[2015-12-14 16:07] lgierth commented on #13
the blog is back since yesterday

[2015-12-14 16:07] #13 closed

[2015-12-14 21:26] jbenet commented on #13
thanks @lgierth!

On Mon, Dec 14, 2015 at 11:07 AM Lars Gierth <notifications@github.com>
wrote:

[2015-12-14 21:37] harlantwood commented on #9
Continued the thread I started above on https://github.com/ipfs/infrastructure/issues/137.

[2016-01-20 20:42] jbenet opened #21 "Blog post announcing dist.ipfs.io"
We should write a blog post announcing http://dist.ipfs.io -- and highlight a lot of the cool things ipfs does that makes this site interesting itself:

I think it should:
- [ ] explain the goals of the page (one stop place for all official binaries we distribute)
- [ ] have screenshots (github blog style gifs may be nice)
- [ ] describe criteria for something being added (i.e. should be a product

[2016-01-20 21:46] RichardLitt commented on #21
Sounds good to me. Deadline for first draft?

[2016-01-20 22:03] Dignifiedquire commented on #21
@RichardLitt as you are our official wordsmith how about you do the drafts and I do the reviewing &  explaining things you need to know?

[2016-01-20 22:32] RichardLitt commented on #21
Sounds good. Deadline: Thursday night, 9:00pm CET.

[2016-01-29 16:43] Shaaah opened #22 "RSS is broken"
I'm trying to add the blog rrs fedd to my aggregator, but it just doesn't work.

Tried the validator it looks like there are [some problem](http://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fipfs.io%2Fblog%2Frss.xml)

[2016-01-29 18:41] RichardLitt commented on #21
That deadline was not adhered to; Sorry about that! @dignifiedquire check out the draft.

[2016-02-12 07:26] jbenet opened #28 "Blog post describing 0.4.0 changes"
We need a blog post detailing 0.4.0 improvements. They're big. Who can pick this up? maybe @RichardLitt with help of @whyrusleeping and @diasdavid? others interested?

[2016-02-12 11:04] diasdavid commented on #28
I'm happy to help, from the top of my head, we have:

- files api
  - flush or no flush options
  - speed improvements on add
- object api
  - new methods (subcommands)
- js-ipfs-api
  - new version to match the 0.4.0
- repo
  - new repo structure
- things that are now possible
  - registry-mirror

[2016-02-12 13:00] RichardLitt commented on #28
Relevant to https://github.com/ipfs/go-ipfs/issues/2336

[2016-02-12 18:22] whyrusleeping commented on #28
@kyledrake had started this, i think he should have something saved somewhere

[2016-02-22 20:15] jbenet opened #32 "3-ipscend img error"
img at the top of https://ipfs.io/blog/3-ipscend/ is broken

[2016-02-22 20:17] RichardLitt commented on #32
Looks like an invalid url. Should be: https://ipfs.io/blog/3-ipscend/img/ipscend.png

[2016-02-22 20:51] #32 closed

[2016-02-23 15:00] ARezaK commented on #22
I would like to follow along as well with the rss feed. It looks like you have the necessary packages setup with metalsmith, just not sure why it isn't working.

[2016-03-10 07:52] Kubuxu opened #36 "Link to blog doesn't work on local gateways"
Please see fs:/ipns/ipfs.io/blog on local gateway.

@whyrusleeping confirmed that

It should probably be issue on website.

[2016-03-10 11:11] lgierth commented on #36
yeah the way it's right now, it's /ipns/blog.ipfs.io

[2016-04-23 04:43] #28 closed

[2016-05-09 19:59] RichardLitt commented on #7
- [ ] What does 'hosted' mean? How is it different from 'distributed'?

[2016-05-24 08:14] RichardLitt opened #47 "Update old blog links"
@Porco-Rosso pointed out [here](https://github.com/ipfs/newsletter/issues/7#issuecomment-221115304) that the old links to http://tinyletter.com/ipfsweekly are now broken in the old blogs. We should update them to https://tinyletter.com/ipfsnewsletter.

Or, could we use an IPFS path and point it at the newsletter? @lgierth?

[2016-05-30 15:08] RichardLitt commented on #21
Done!

[2016-05-30 15:08] #21 closed

[2016-06-12 14:54] deltab commented on #7
- [ ] IPDB
- [ ] Decentralized Web Summit
- [ ] new website design

(and maybe mention Vector's launch)

[2016-06-14 02:10] aistich commented on #7
Coming out of the Decentralized Web Conference
- [ ] IPFS Internet Archives - Using IPFS for Permanent Data Storage
- [ ]  Libp2p
- [ ]  IPLD
- [ ] Orbitz demo

[2016-06-22 19:34] jbenet opened #56 "Blog halting -- revamping pipeline."
@aistich @richardlitt and I discussed the blog pipeline, since it has screeched to a half in recent weeks.  We did some revamping, and i'll be filing a PR with a proposal shortly.

[2016-06-27 15:33] songproducer commented on #47
Contact link on home page as well:
Path Resolve error: no link named "contact" under QmTzQ1JRkWErjk39mryYw2WVaphAZNAREyMchXzYQ7c15n

Also on this page:
https://ipfs.io/docs/
Project directory status board - http://project-repos.ipfs.io/

[2016-06-29 13:29] RichardLitt opened #57 "Implementing a label system"
We are going to start using GitHub labels to more effectively maintain this repository. It is important that the labels:
- are maximally useful
- are Easily understood without reference
- clearly say where it is and what it needs

Here are my proposals for the labels:
- stage: idea
  - needs assignments
- stage: skeleton
- stage: research
- stage: writing
  - needs rewrite
- stage: review
  - need

[2016-06-29 19:59] aistich commented on #57
These sound good to me!

[2016-06-30 07:31] em-ly commented on #57
I think the natural flow is for once an idea has been assigned it moves from "needs assigned" to  "stage: skeleton"

@aistich Can you go through the open issues and start tagging appropriately?

Let's also get the blog ideas that have already been assigned written out as issues and get the tagging going so that we can see what's on the board.

[2016-06-30 07:40] aistich commented on #57
@em_ly I can start tagging on Tuesday-

However, I want to make sure there is a pick-up indicator.

There is a definite stage between the idea being assigned and the skeleton
being actually worked on.

Having that tag makes it easier to see if someone has let an article drop
in the early stages.

It may also be a good idea to create a tag for people who need help on
their post like an "help needed

[2016-06-30 07:56] em-ly opened #58 "[Meta] Blog Relaunch Process"
There have been a lot of exciting things happening in the IPFS world, but we've been doing a poor job at capturing all the excitement. This issue is to document the process of rolling out a new blog management flow.

Side Note: We are going to use this process relaunch as a trial experiment using the tool Waffle.io. Once that's operational, I'll update this blurb with a link to that.
**Edit: https

[2016-06-30 12:25] RichardLitt commented on #57
being actually worked on.

in the early stages.

I'm not sure there needs to be this one; you can assign people directly, and from then on, that is their responsibility. How they juggle that isn't something we should label, I don't think? Just like `writing` and  `research`, this is going to be a process. If someone hasn't committed anything to the blog within a few days, it would be good to ping

[2016-06-30 12:26] RichardLitt commented on #57
their post like an "help needed" label for use if someone no longer feels
able to write their piece or gets stuck at a stage before they are ready
for technical review.

Like all of the IPFS repositories, this one has a `help wanted` tag. This should be used in those cases. The `difficulty: easy|medium|hard` options are also here.

[2016-06-30 12:28] RichardLitt commented on #36
@Kubuxu Can this be closed?

[2016-06-30 12:28] RichardLitt commented on #47
@lgierth Any word on this?

[2016-06-30 12:29] Kubuxu commented on #36
I think yes.

[2016-06-30 12:29] #36 closed

[2016-06-30 12:30] RichardLitt commented on #56
Closing this.

![It's Happening!](https://i.imgur.com/7drHiqr.gif)

[2016-06-30 12:30] #56 closed

[2016-06-30 13:01] RichardLitt commented on #57
I've created all of the labels, and implemented it on Waffle.

@aistich - when an article is started as a PR, it will move automatically to Skeleton. You should be able to use this as an indicator that the work has begun or not.

Regarding opening issues for the current blog posts: I don't think this is unnecessary. A blog post will remain as an open PR until it is published - because of this, mig

[2016-06-30 13:03] RichardLitt commented on #58
Not sure that opening issues for blog posts currently in the process makes sense, as we can discuss them in their respective PRs. However, opening individual issues for each idea might be worth doing? Then we can discuss each at length in a threaded manner. I'm happy to automate this, if we want to just do this all at once.

[2016-06-30 14:13] RichardLitt opened #59 "List of inspirational blogs"
This should be a list of other blogs in the area that are inspiring: either on their execution, because of their writing, or because of their design. What inspires you about it? What do you think we should have in IPFS?

[2016-06-30 14:33] em-ly commented on #58
@RichardLitt Is there a way to track PRs the same way that we track issues in Waffle.io? If it can be handled and looks the same way on their end, then I agree that it doesn't make sense to have duplicate ideas/PRs, unless the idea is first generated instead of a skeleton (which in theory should be the process. how else are we getting blog post ideas? i don't see someone jumping straight to make a

[2016-06-30 14:43] RichardLitt commented on #58
@em-ly Yep. Take a look at https://waffle.io/ipfs/blog -- the ones with the PR symbol are PRs. It looks the same.

I think the idea should first be an issue, to help discussion easier, and then turned into a PR and the idea issue closed.

[2016-06-30 15:10] em-ly commented on #58
Agreed! That makes sense of a flow. So it will remain an idea until it's been assigned -> becomes a skeleton PR. the issue should be closed linking to the PR.

For posts that are in the "needs review" stage (i.e. https://github.com/ipfs/blog/pull/15) can we add the relevant content review/tech review/cohesion review/mech review tags? what's the best way to make sure those are all checked off? I wa

[2016-06-30 15:56] RichardLitt commented on #58
Yes, you can add those labels for that stage. When they are done, they should be removed. Should be clear to tell.

[2016-06-30 17:41] em-ly opened #60 "Redesign https://ipfs.io/blog/"
Instead of listing the links to the blogs, can we feature the most recent blog post? This page/portal could use a lot of love. What do you think @RichardLitt?

[2016-06-30 18:19] RichardLitt commented on #60
That sounds smart to me.

[2016-07-01 06:21] em-ly commented on #60
@RichardLitt Glad you agree! What do the next steps for that look like? Who owns the design of this page? Can we move to a Wordpress model? If not, what are our options?

[2016-07-01 06:24] em-ly commented on #59
Great topic to have running.

Consensys just sent out a great news letter: http://us11.campaign-archive2.com/?u=947c9b18fc27e0b00fc2ad055&id=fe8f01928b&e=200297204e

I think these are also some great examples of great documentation:
https://www.ethereum.org/greeter
http://www.ethdocs.org/en/latest/
https://fishshell.com/docs/current/tutorial.html
https://docs.docker.com/docker-for-mac/
https://tou

[2016-07-01 06:36] em-ly commented on #57
So, the agreed upon flow was that each post should start as an "idea" issue, to allow discussion before it becomes a blog post. As it moves from IDEA to SKELETON, the issue will be closed, linking to a correlating PR opened for that blog post.

[2016-07-01 06:37] em-ly commented on #57
Also, I would say this was successfully completed. 😃 Thanks, @RichardLitt! Feel free to close.

[2016-07-01 06:38] em-ly commented on #47
What is the status with this bug? Why is it being sent to Lars? @RichardLitt is there a work around that we can come up with ourselves? How big of a priority is this?

[2016-07-01 06:39] em-ly commented on #2
Can this issue be closed or is this still a relative discussion?

[2016-07-01 09:25] RichardLitt commented on #47
Status: Still a bug.
Why lars: Because I need feedback on it. I'm not sure we should go through and adjust the old blog links, because it might break some of the hashes - I think? I don't know exactly if we _can_ edit old posts easily. I also can't update anything on the live website. Lars is my go-to "let's push stuff to the website" person.
Workaround: No. I can't push stuff.
Priority: Well, it'

[2016-07-01 09:26] RichardLitt commented on #57
Reopened because I think this should be closed when the workflow in this issue is written in a Markdown.  Good information here.

[2016-07-01 09:30] RichardLitt commented on #60
- Next steps: Feedback from @jbenet. I don't like making design decisions without his feedback.
- Design owner: @jbenet.
- Wordpress: negative. We should keep this using IPFS, so that it is permanent.
- Options: AFAIK, keep the current system, just redesign it. The website was recently redone, but the blog wasn't included.

However, an overhaul in general shouldn't be talked about here: it's a dup

[2016-07-01 09:49] haadcode opened #61 "Feedback on the Waffle board"
If you allow me, I have some ideas how to improve the blog pipeline structuring on ipfs/blog Waffle. I'm writing this on the move and hope that tone is not too blunt or harsh. I'm writing this because I <3 you.

The current pipeline has a lot of steps atm that are not necessarily descriptive and purposeful. Think of a pipeline as something where items flow from step to step. Instead of "pushing" i

[2016-07-01 10:31] RichardLitt opened #62 "idea: Highlighting the HTTP API Spec on Apiary"
Idea: Let's have a blogpost about the HTTP API Spec currently up on Apiary.

Writer: @RichardLitt

[2016-07-01 10:39] RichardLitt commented on #62
Started!

[2016-07-01 10:39] #62 closed

[2016-07-01 14:39] jbenet commented on #61
I'll respond more fully later, but the point of the blog pipeline is to be very explicit about the steps needed to produce a blog post, to see where they get stuck and to get much better at estimating the time it takes to move them through the stages. it's about accurately and precisely capturing the blog writing process and the stages through it.

That's for the feedback, but there is missing con

[2016-07-01 14:44] jbenet commented on #61
It's capturing this: https://github.com/ipfs/blog/blob/master/PIPELINE.md

And to be clear: I agree with the "pull to be explicit that I'm working on this this week" but that's a _different_ process, and it's meta to this pipeline. This is not aiming to capture agile/kanban workflow, it's aiming to capture work product information.

[2016-07-02 00:29] lgierth commented on #2
It's now part of the pages/deployment mini-effort, let's close it. (for context, this will simplify page deployments a lot because we won't have to update DNS records anymore. Same for e.g. the website and dist.ipfs.io.)

[2016-07-02 00:29] #2 closed

[2016-07-03 00:39] lgierth commented on #60
Agreed, it's also important that we eat our own dogfeed as much as possible, just to demonstrate that it works, the different use cases, etc.

[2016-07-03 08:24] dignifiedquire commented on #60
In the previews for the website there was already a new design for the blog done by &yet, what happened to that?

[2016-07-03 09:03] diasdavid commented on #60
@em-ly I believe what you mean by a `moving to a Wordpress model` is more in the lines of getting a nicer experience to publish and track the activity on each blog post, than using Wordpress itself. The reason why we are reluctant to move to Wordpress is because of how it is set up, Wordpress is a full Web Service, with a DB, a Web Server and currently, there is no way to serve a blog out of Wordp

[2016-07-06 22:38] jbenet commented on #59
Good:
- https://storystudio.oculus.com/en-us/blog/the-problem-with-reality/
- https://openai.com/blog/generative-models/
- https://0fps.net/

Epically good:
- http://worrydream.com/LadderOfAbstraction/
- http://worrydream.com/ClimateChange/

[2016-07-08 08:40] RichardLitt commented on #61
@haadcode What do you think about this? You're the expert on this process; would you like to set it up?

[2016-07-08 17:32] RichardLitt opened #64 "Blueyard Berlin Meetup"
We should have a post about how the Decentralized and Encrypted Conference went in Berlin.

https://github.com/ipfs/community/issues/127

[2016-07-08 17:35] RichardLitt opened #65 "Decentralized Web Summit Roundup"
Started in [this comment](https://github.com/ipfs/blog/issues/7#issuecomment-225761374):

Coming out of the Decentralized Web Conference
- [ ] IPFS Internet Archives - Using IPFS for Permanent Data Storage
- [ ]  Libp2p
- [ ] js-ipfs is IPFS ON THE BROWSER. It's finally here! It is a full implementation of IPFS in javascript,    and it works...
- [ ] Orbitz demo

@whyrusleeping @diasdavid  I belie

[2016-08-08 14:06] aistich opened #68 "IPFS Workshop Lisbon Round-up"
We need someone to do a short write up on the highlights of the workshop.
@diasdavid is producing a video from the workshop-
@RichardLitt can  you review that and do a short write up to post and point to that video?

[2016-08-08 14:15] RichardLitt commented on #68
I probably shouldn't; I wasn't there, and the streamed quality was not good, so I wasn't able to attend any of the sessions effectively.

I feel that people who were there could better stub out how it went, and I am happy to work with them and/or edit those posts. I'm not sure how exemplary of the entire event @diasdavid's video will be.

[2016-08-08 14:15] diasdavid commented on #68
I just produced the maps on IPFS talk https://www.youtube.com/watch?v=ULZZj3GEqew. I know you saw me editing other parts + making an intro, but it was more as something I do that I really enjoy, unfortunately, editing the whole workshop would take me a considerable amount of time and although I really enjoy doing that, I understand that my time is now better spent just doing js-ipfs things.

[2016-08-08 14:17] aistich commented on #68
@RichardLitt who do you think would be a good candidate for the write up?
@diasdavid sorry- was unsure of what would be on there.

[2016-08-08 14:36] RichardLitt commented on #68
I'm not sure. There might be a member of the community we could ask, who was there? I don't think @diasdavid has the time, nor @whyrusleeping. I'm happy to review any quick notes they draw up, though.

[2016-08-08 14:55] skylarnorris commented on #68
@jbenet can you weigh in on the following:
- [ ] whether it should be public knowledge that certain attendees were sponsored
- [ ] whether those candidates should be asked to write a blog

[2016-08-11 17:00] flyingzumwalt opened #69 "Q2 Recap/Update"

[2016-08-11 17:03] flyingzumwalt commented on #69
@RichardLitt I'm not entirely sure on what this update will include. Could you fill in a bit to get it rolling for @jbenet?

[2016-08-23 16:03] em-ly opened #70 "[Meta] Blog/Newsletter Discussion"
Hi all, I just wanted to capture the discussion that happened last week with regards to getting the ball rolling on the blog and news letter again. Below are the identified action items that we created:

**Action items:**
- [ ] @em-ly to read through blog pipeline and surface any questions
- [ ] @em-ly to assess status of pending blog posts that aren't moving in the pipeline
- [ ] @RichardLitt to

[2016-08-23 16:04] em-ly commented on #58
Moving this discussion to https://github.com/ipfs/blog/issues/70

[2016-08-23 16:04] #58 closed

[2016-08-26 21:16] Snarkly opened #71 "Suggestion Blog admin panel"
Non-coders will never use IPFS Blog if they have to code stuff into it. The blog needs an admin panel like wordpress for non-coders. I've shown ZeroNet to multiple people who can't code and they all said they wouldn't use it for the same reason, it has no admin panel for the blog. Please DON'T follow in ZeroNet's footsteps, create an admin panel for IPFS Blog.

[2016-08-26 21:26] lgierth commented on #71
This is just the project's blog at https://ipfs.io/blog -- but I agree, blogging applications on top of IPFS are definitely possible!

[2016-08-29 17:13] RichardLitt commented on #71
@Snarkly Want to reopen this in ipfs/notes? Good idea!

[2016-08-29 17:13] #71 closed

[2016-09-01 00:02] RichardLitt commented on #47
@lgierth Thoughts?

[2016-10-04 21:59] ghost opened #77 "Blog Post: "Tell us about your IPFS-based projects""
- we've lost overview of all the cool stuff out there
- tell us at ipfs/awesome-ipfs
- then highlight 2 or 3 neat projects, e.g. maps.ipfs.io, uberpen, and infura

[2016-10-08 06:29] em-ly commented on #77
Side note: I LOVE THIS IDEA!! Thanks, @lgierth!!!

[2016-10-10 12:11] RichardLitt commented on #77
@lgierth Why don't we just write a blurb about those three projects? I'm unaware of the second two, and I'm not sure where maps.ipfs.io is. Would you be able to sit down and talk about them with me for ten minutes, at some point?

[2016-10-28 19:06] lgierth commented on #64
I think this doesn't make sense anymore

[2016-10-28 19:07] lgierth commented on #65
I think this doesn't make sense anymore either

[2016-10-28 19:20] RichardLitt commented on #64
I agree with you. Oughtn't we to have some record of it, however?

[2016-10-28 19:20] RichardLitt commented on #65
@whyrusleeping and @diasdavid - was anything written about this?

[2016-10-28 19:28] lgierth commented on #64
Like, adding it to some events-we-attended list? I was just looking to close a few open issues :)

[2016-11-08 19:20] dan-madaket commented on #22
Yes, came here looking for this!

[2016-11-10 09:44] RichardLitt commented on #64
See ipfs/community#198.

[2016-11-10 09:44] #64 closed

[2016-11-30 23:02] lgierth opened #84 "Quarterly roadmap/milestones blog post"
Now that we have good practices around roadmaps and milestones, it would be neat to write a blog post at the beginning of each quarter, detailing the high level goals, and going down to each milestone. The exact dates of the milestones don't matter much, what I wanna get at is explaining to others what we set out to do next. (It should of course still link to the right places for getting actual PM

[2016-11-30 23:06] lgierth commented on #84
This would be ideal for generating discussion on the forum and HN too. It's also an excellent opportunity to get people contributing, of course given we break milestones down into task properly from the start, and attach enough info for it to actually be "ready".

We should probably also explain what we have in mind with regards to making these meetings open and accessible to the community.

[2017-01-16 18:56] em-ly opened #90 "Q1 2017 Blog Post"
@flyingzumwalt mentioned putting together a blog post (https://github.com/ipfs/pm/issues/365#issuecomment-272755766) and I think that's a great idea - wanted to get the ball rolling here.

@flyingzumwalt would you like to author this and flesh this out? I feel like you would be the best person to put this piece together.

[2017-01-16 19:06] flyingzumwalt commented on #90
I doubt that I'll have time for it during the next 2 weeks. data.gov gets priority.

[2017-01-16 19:38] em-ly commented on #90
Understandable - is anyone willing to pick this up?

[2017-01-16 20:05] flyingzumwalt commented on #90
I might still be the right one to write it, but that would mean putting out the post in early February. Alternative: put out a basic post now, explaining the changes and pointing to the roadmap, and I can write a more complete explanation in February.

[2017-01-16 20:15] em-ly commented on #90
I agree - With the changes to the sprint formats, I think it's important to get a brief post out earlier, mostly introducing the new structure of the sprints. This can also include pointing to the roadmap and the first all hands covering the changes.

Having a more expanded post in the future is a good idea, especially once the dust settles and we're more in-tune to any areas of clarifications tha

[2017-01-16 20:19] flyingzumwalt commented on #90
I'm maxed out this week. I think someone else could write the first brief, informative post with links to the roadmap and the all-hands video. @RichardLitt would you be able to put that basic post together?

[2017-01-20 14:34] RichardLitt commented on #90
@flyingzumwalt I've stubbed out one, here. We should merge the Stale Endeavors PR in ipfs/ipfs, first, and we should also have a way of showing the roadmap in ipfs/pm. Can you take a look and tell me if you want me to severely edit the blogpost before a final polish?

https://github.com/ipfs/blog/blob/feat/q1-blogpost/src/23-2017-q1-update/index.md

[2017-01-24 04:06] em-ly commented on #90
@flyingzumwalt Can you please review the above?

[2017-01-26 00:06] flyingzumwalt commented on #90
Reviewed and updated.

[2017-01-26 01:56] RichardLitt commented on #90
Lgtm!
On Wed, Jan 25, 2017 at 9:06 PM Matt Zumwalt <notifications@github.com>
wrote:

[2017-05-08 16:18] arcalinea opened #96 "Uncensorable Wikipedia post has copyright symbol that may be typo"
https://ipfs.io/blog/24-uncensorable-wikipedia/
At bottom:
"These are read-only snapshots. Supporting full read-and-write would take further work.©"

Also, would be nice to explain or link to IPNS to clarify for new readers unfamiliar with IPFS.

[2017-05-08 17:50] flyingzumwalt commented on #96
Yeah. I wanted to link to an explanation of IPNS and found that the only explanation is in the IPFS whitepaper! The docs have examples of how to use ipns but don't explain what it is.

Thanks for catching the typo https://github.com/ipfs/blog/commit/fae5510a339230d9b19a5d550329e4a6bef6fd1a

[2017-05-08 17:50] #96 closed

[2017-05-15 14:13] flyingzumwalt opened #97 "Proposal: Blog posts to announce each Release"
We all know that the blog has fallen desperately out of date. This has caused confusion, where some people think the project's activity has stopped (as evidenced in [this reddit thread](https://www.reddit.com/r/DataHoarder/comments/67lmqt/ipfs_the_internet_protocol_file_system/dgrrn5m/)), despite the fact that we're actually shipping features, optimisations and bug fixes more regularly than ever b

[2017-05-15 14:37] flyingzumwalt commented on #97
Recently @jbenet suggested having an "ipfs tech blog" that's separate from the lower-volume official starlog. We could put the announcements there, along with posts like @whyrusleeping's [short post about pubsub](https://github.com/ipfs/blog/pull/79)

This would leave room for the main ipfs starlog to have a lower volume of high quality, polished, high profile posts while the tech blog has an info

[2017-05-15 14:43] lgierth commented on #97
Yeah let's post release announcements for go-ipfs and js-ipfs :+1:

IMHO this is currently not warranted by the volume of either of the two, even when considering regular js-ipfs/go-ipfs release announcements. (We also want to eventually have libp2p and IPLD blogs but these are currently not warranted either.)

I'd say let's keep going with the blog until we notice there's a need to separate thing

[2017-05-15 15:15] VictorBjelkholm commented on #97
Yay for more announcements! Had a couple of folks echo the same sentiment with project not being as active before while we keep pushing out new features and more fixes.

However, instead of splitting, I agree with @lgierth that we should have one blog and start expanding when it's necessary instead of now. I think it's better for us to have one well-maintained and often updated blog instead of fiv

[2017-05-16 00:34] JayBrown commented on #22
RSS loads from feed URL https://ipfs.io/./rss.xml in Vienna, but only until 2016-05-31, so there's something definitely not right.

But what about `ipfs pubsub`? Wouldn't that be better than RSS eventually?

[2017-05-19 17:09] flyingzumwalt opened #99 "Blog Post: Base58 issue for browser compatibility"
We should write a Blog Post about all the things we hashed out with @gozala and @lidel in January around IPFS paths and the single-origin policy

* describe the goals of ipfs in web browsers
* describe the problem of making IPFS addresses compatible with single origin policy (origins are case-insensitive)
* explain how CIDs in IPFS solve this problem
* show working code that uses it

[2017-05-20 09:24] lidel opened #100 "Proposal: re-use http://discuss.ipfs.io as comments engine"
Here's an idea:

**TL;DR** on how it works:

I imagine comment-topics would be created in dedicated category, eg subcategory "Blog" eg. in "Announcements".

I think re-using https://discuss.ipfs.io for blog comments may provide value on multiple levels, for example:

- it is easy to switch to different blog engine without worrying about lost comments or broken formatting
- discussions are not lost

[2017-05-21 19:01] diasdavid commented on #97
here is another one that is ready to publish as soon as I npm publish :)
https://github.com/ipfs/js-ipfs/issues/855

[2017-05-21 22:38] mishmosh opened #101 "Blog strategy for Q3"
We need to keep the blog active so people don't wonder if jpfs is dead, while balancing it with our many other goals.

Proposed strategy for Q3:
- **At least one blog post per month.** This is a pretty low bar but should be enough to feel un-dead. Previous dry spells were up to 4 months long.
- **Every ipfs release gets a blog post.** As a minimum. it will simply copy the contents of the changelog

[2017-05-22 12:49] lgierth commented on #100
Great idea :+1:

[2017-05-22 12:58] lgierth commented on #99
:+1:

(This reminds me that it's actually not yet completely 100% solved, as described in https://github.com/ipfs/specs/pull/152#issuecomment-303092071)

[2017-05-22 13:53] mishmosh commented on #97
We are halfway to resolving this issue. Blog post step has been added to js-ipfs [release checklist](https://github.com/ipfs/js-ipfs/blob/master/RELEASE.md) so it's part of the default process now.

@whyrusleeping: Is there an equivalent for go-ipfs?

[2017-05-22 13:56] mishmosh commented on #97
I asked a few startup friends how to Do Good Blog during the transition period from "founder is madly inspired" to "person is staffed on this & maintains content calendar." The most helpful and interesting suggestion was mapping out an arc of blog posts about certain topics, so that we are motivated to finish those arcs.

[2017-05-22 13:58] mishmosh commented on #101
I asked a few startup friends how they Do Good Blog in the transition between "founder is madly inspired" and "fulltime hire who maintains content calendar". The most helpful and interesting suggestion was to map out an arc of posts around certain topics, which will make us want to finish them. Just sharing as food for thought.

[2017-05-22 14:01] lgierth commented on #97
@mishmosh oops, in fact there's two: https://github.com/ipfs/go-ipfs/blob/master/docs/releases.md && https://github.com/ipfs/go-ipfs/blob/master/misc/release-checklist.md

Let's keep the former and remove the latter.

[2017-05-22 17:20] mishmosh commented on #97
Thanks @lgierth, submitted 2 PRs:
- Dedup release checklists: https://github.com/ipfs/go-ipfs/pull/3937
- Add blog to checklist: https://github.com/ipfs/go-ipfs/pull/3936

Once #3936 is merged, we can close this issue.

[2017-05-23 02:38] flyingzumwalt commented on #101
Both js-ipfs and go-ipfs put out releases on roughly a bi-weekly cycle, so that actually gives us about 2-4 posts per month.  I think we should shoot to have one non-release post each month, on top of the release updates.

Mapping out an arc of posts for a couple topics is a great idea. I can think of a few arcs.

Some Topics to map arcs for:
- serverless search
- IPFS in web browsers
- wikipedia

[2017-05-25 16:21] diasdavid opened #104 "Are instructions to publish still up to date?"
Do we still use DO?

https://github.com/ipfs/blog#publishing-post

[2017-05-25 16:38] lgierth commented on #104
Yes -- you need a textfile with your DO API token symlinked to `./auth.token`. I have mine in `~/.protocol/digitalocean.token` and symlink it into the various repos.

[2017-05-25 20:04] mishmosh commented on #60
Per #101 we will not change blog design until higher volume of posts or activity warrants it.

[2017-05-25 20:04] #60 closed

[2017-05-25 20:10] mishmosh commented on #69
Closing this because window of opportunity has passed.

[2017-05-25 20:10] #69 closed

[2017-05-25 20:21] #104 closed

[2017-05-25 20:22] mishmosh opened #105 "Standardize how PL family of blogs are published"
Per @diasdavid suggestion, we should standardize how we publish blog posts across properties -- Digital Ocean, etc.

[2017-05-25 20:25] diasdavid commented on #105
blogs + websites. Ideally, everything should be automated.

[2017-05-25 21:49] lgierth commented on #105
The standards are: Hugo for the static site generator, and DNSimple API for the dnslink update.

The reason we're still dealing with metalsmith (blog) and pelican (website) is that nobody has successfully converted them to Hugo yet. I have in-progress branches for this which I'll be most happy to intro to someone :)

The reason Digitalocean is still part of the deploy for a few sites, is that we h

[2017-05-25 21:50] lgierth commented on #105
Oh and I also have a bit of in-progress code for automating the build and deploy of website based on PRs and merges.

[2017-05-25 23:47] mishmosh commented on #70
Pipeline is moving again so this is not needed.

[2017-05-25 23:47] #70 closed

[2017-05-28 02:00] flyingzumwalt opened #106 "Blog Post: Introducing IPLD"
We haven't yet published any article explaining IPLD -- there's just the spec, the website, and the working code. We should publish a post that introduced IPLD, explains the motivation, explains the possibilities, explains the main concepts, and points to where we're using it.

[2017-05-28 14:55] VictorBjelkholm commented on #106
Don't get me wrong, a blogpost about IPLD would be great, but if the
website doesn't "introduce IPLD, explains the motivation, explains the
possibilities, explains the main concepts, and points to where we're using
it", we need to extend the website to do this, rather than writing a
blog-post. Many peoples first point of entry will be the website, and
unless we can convey this information effectiv

[2017-05-28 15:57] flyingzumwalt commented on #106
I'm not saying that the website is missing info. I'm proposing that we write a blog post and I'm outlining what should be in that post. We need both the blog post and the website to provide all of that information. I imagine the blog post will have a mix of narrative tone ("we found that we needed...) and descriptive examples ("imagine you have data like..."). This might end up presenting the same

[2017-05-29 00:38] jesseclay commented on #106
@flyingzumwalt @VictorBjelkholm I think it's a great idea to to release a blog post on this, and preferably we could do it this week. Is the IPFS blog the best place for this or the protocol.ai blog? Or maybe we can do both?

Would love to see this a post launch this week.

[2017-05-29 19:05] flyingzumwalt commented on #106
I wasn't planning to write about IPLD this week. We have a lot of other things to write and publish this week. This issue is just registering the idea in the blog pipeline.

This post belongs on the ipfs blog.

[2017-05-30 18:41] Plloi opened #107 "RSS Feed only displays Oldest 20 items"
metalsmith-feed by default only adds 20 item to the rss feed. unfortunately it grabs the 20 oldest instead of the 20 newest.
Also limit doesn't properly take false to remove this.

A workaround could be to add a arbitrarily large limit to the feed.
`.use(feed({'collection': 'posts', 'limit': 1e9}))`

Or reversing the collection this would place most recent 20 in the feed, but it also reverses blog

[2017-05-30 20:03] Plloi commented on #107
Issue on metalsmith-feed: hurrymaplelad/metalsmith-feed/issues/18

[2017-06-01 12:23] mishmosh commented on #65
Closing b/c window of opportunity has ended.

[2017-06-01 12:23] #65 closed

[2017-06-01 12:25] mishmosh commented on #68
Closing because window of opportunity ended.

[2017-06-01 12:25] #68 closed

[2017-06-01 12:26] mishmosh commented on #97
Done.

[2017-06-01 12:26] #97 closed

[2017-06-01 12:32] mishmosh commented on #90
Closing b/c team decided not to publish at the time, and window of opportunity has passed.

[2017-06-01 12:32] #90 closed

[2017-06-01 12:38] mishmosh commented on #106
Great idea and timely. Let's figure out the path to make this happen.

@flyingzumwalt I'm booking 30 mins with you, and I will attempt to write based on our conversation. Feel free to reschedule if you are short on time this week.

[2017-06-01 12:44] mishmosh commented on #47
@lgierth Some links in old blog posts go to an outdated newsletter. Would there be any problems (eg with hashes) if we updated those links to the current newsletter signup (https://tinyletter.com/ipfsnewsletter)?

[2017-06-01 12:56] mishmosh commented on #57
Workflow is in https://github.com/ipfs/blog/blob/master/PIPELINE.md.

[2017-06-01 12:56] #57 closed

[2017-06-01 13:01] mishmosh commented on #84
Sounds like there is good support for this. Closing this issue, and replacing it with issues for Q3 & Q4 blog posts specifically.

[2017-06-01 13:01] #84 closed

[2017-06-01 13:02] mishmosh opened #108 "Blog Post: Q3 Roadmap"
See background & motivation from @lgierth in https://github.com/ipfs/blog/issues/84

[2017-06-01 13:03] lgierth commented on #47
@mishmosh That's fine, we can just change them

[2017-06-01 13:03] mishmosh commented on #84
See #108

[2017-06-01 13:20] mishmosh commented on #61
[Pipeline.md](https://github.com/ipfs/blog/blob/master/PIPELINE.md) is the current process. It's not perfect, but works reasonably well.

Rather than redesign process right now, let's start by shipping blog posts every month as discussed in #101. We can revisit process if needed.

[2017-06-01 13:20] #61 closed

[2017-06-01 13:39] mishmosh commented on #22
Debugging occurring in #107

[2017-06-01 20:39] flyingzumwalt commented on #106
Sounds good. FYI - I think it will be better to focus on the IIIF on IPRS demos first, before publishing the IPLD post, especially since the IIIF demos include code examples and a strong narrative — high res images on the decentralized web, annotations, virtual reality, the Vatican.

ནོར་ཞིང་ནོར་ཞིང་ཡང་དག་ལམ་ལ་འཇུག།
“mistake by mistake, I walk the unmistaken path”

[2017-06-01 21:06] mishmosh commented on #106
I think we can multi-thread this, with you owning the IIIF post and me the
IPLD one.
On Thu, Jun 1, 2017 at 4:39 PM Matt Zumwalt <notifications@github.com>
wrote:

[2017-06-01 21:15] flyingzumwalt opened #109 "Blog Post: IIIF on IPFS at the Vatican"
- Tell the story of the Demos at the Vatican -- IIIF, Images, Interoperability
- Explain the significance -- dynamic data in decentralized applications
    - mutability (how pubsub is different from IPNS, where pubsub appears in existing web infra)
    - CRDTs vs blockchains
- Present the demo (screen capture)
- Explain the tech -- pubsub, CRDTs (y.js), domain-specific data model (web annotations)

[2017-06-01 21:17] flyingzumwalt commented on #106
Make sure to loop Henri into this too (don't know his github handle) -- he dealt with the giant task of gathering all the scattered info about IPLD and getting it refined into consumable form on https://ipld.io

[2017-06-03 21:28] flyingzumwalt opened #110 "Blog Post: High Availability on IPFS"
Use the 200 GB English Wikipedia snapshot as an example. Walk through all of the factors involved in publishing that dataset and all of the existing & emerging options for making it work.

In particular, address:
- seed nodes (make sure it's available)
- CDN-type concerns
- what it will take to achieve the ideal of P2P scaling (ipfs nodes in browsers)
- ipfs-cluster to 1) maintain multiple copies

[2017-06-04 08:49] flyingzumwalt opened #111 "Blog Post for Net Neutrality Day"
https://www.battleforthenet.com/july12/

[2017-06-04 21:24] mishmosh commented on #106
Just connected with Henri via Slack. For reference, Github handle is @sternhenri.

Possible outline:
- Content addressing through hashes has become common in many distributed systems
- But they each use a different underlying data structure
- So we built IPLD to make them interoperable
- Enter IPLD
- Story time: how IPLD was conceived & developed
- Examples and use cases
- Near-term roadmap
- Next

[2017-06-06 14:03] flyingzumwalt opened #112 "Blog Post: Deleting Content You've Added to IPFS"
This is one of the [Top Topics that Need Better Documentation](https://github.com/ipfs/community/issues/199)

It makes sense to publish this together with #113 -- Making Content Persist on IPFS

[2017-06-06 14:04] flyingzumwalt opened #113 "Blog Post: Making content Persist on the Network"
This is one of the [Top Topics that Need Better Documentation](https://github.com/ipfs/community/issues/199)

Making content Persist on the Network -- How to get the content to stay on the IPFS network after your machine disconnects

It makes sense to publish this together with #112 Deleting Content you've Added to IPFS

[2017-06-06 14:05] flyingzumwalt opened #114 "Blog Post: Private Networks"
This is one of the [Top Topics that Need Better Documentation](https://github.com/ipfs/community/issues/199)

Private Networks -- limiting which nodes/peers you will even talk to. This limits which peers can see what you've added to your IPFS node and limits which nodes you will provide blocks to

Currently this feature is implemented in a simple way but needs explanation of what it does & doesn’t

[2017-06-06 14:05] flyingzumwalt opened #115 "Blog Post: Private Content"
This is one of the [Top Topics that Need Better Documentation](https://github.com/ipfs/community/issues/199)

Private Content -- limiting who can read/decrypt the stuff you've published on the IPFS network

[2017-06-06 14:10] flyingzumwalt commented on #113
This topic has been discussed/documented ad naseum in a number of github issues. Whoever writes this post should start by digging up all of those issues and reading them

[2017-06-06 14:13] flyingzumwalt commented on #112
This sorta builds on #113 -- making something persist on the network is the opposite of deleting it. Once you've explained what it takes to _keep_ something, then you can explain how to _not keep_ something. Then you can discuss what's involved in getting a network to _proactively forget_ something.

Should also discuss where there are + aren't parallels to classic HTTP web -- if someone downloads

[2017-06-07 22:37] sternhenri commented on #106
Thanks for looping me in @mishmosh! Happy to help on this, sorry for the lag omp. @flyingzumwalt what can I do?

[2017-06-09 12:43] Plloi commented on #107
metalsmith-feed has been updated so limiting RSS entries can be removed with:
`.use(feed({'collection': 'posts', 'limit': false}))`

[2017-06-12 09:29] daviddias opened #116 "Merge the blog with ipfs/website, keep the markdown files in ipfs/blog"
@lgierth and @VictorBjelkholm have different ideas on if the blog should be merged with the website or not.

Could you provide your thoughts and discuss it on this thread?

Note:
- Having a similar style doesn't depend on this

[2017-06-12 10:59] VictorBjelkholm commented on #116
From my side, they should be separated as they have two different purposes and should be deployed independently rather than together. However, I don't feel super strong about it, so fine with whatever really.

[2017-06-12 11:27] lgierth commented on #116
If they're the same style it's probably easier to merge them. Right now they're supposed to be the same style and codebase, it's just that we never adjusted the deployment for the two. See https://ipfs.io/blog vs. https://ipfs.io/ipns/ipfs.io/blog. The former is nginx rewriting it to blog.ipfs.io, and the latter is the blog as it was supposed to be.

If they're gonna be two different styles anyway

[2017-06-12 18:17] mishmosh commented on #106
@sternhenri Can you draft a blog post, tentatively titled "Introducing IPLD"? @flyingzumwalt and I propose the outline above, but feel free to adapt.

[2017-06-12 18:19] mishmosh commented on #109
Welcome back and congrats on a great set of presentations & demos. Since event recap posts are somewhat time-sensitive -- will you be able to make time to draft this week?

[2017-06-12 19:30] flyingzumwalt commented on #109
Yep. Working on it here: https://docs.google.com/a/protocol.ai/document/d/1B7BJZznfdGsnficm_mdM18zvC2yxDXkJpMuEgBoaya4/edit?usp=sharing

[2017-06-16 20:19] Kubuxu commented on #107
This will be affected by https://github.com/ipfs/blog/pull/118 but thanks a lot for it nevertheless.

[2017-06-20 09:34] Ademord commented on #106
Looking forward to your blog posts!

[2017-06-20 14:57] Kubuxu commented on #114
Main resources https://github.com/libp2p/specs/pull/10 and https://github.com/ipfs/go-ipfs/issues/3397#issuecomment-284341649 and also me.

[2017-06-20 16:12] diasdavid commented on #116
Let's make a decision to move this forward. I think our best option is to merge both codebases but keep the markdown files for the blog here, this way we keep a nice clean blog post pipeline separate from all the codebase and styling stuff.

What do you say?

👍 this comment if you agree.

[2017-06-20 16:14] lgierth commented on #116
SGTM :+1:

[2017-06-20 16:15] lgierth commented on #116
When merging the too, it would be great if the blog subdirectory were still able to work on its own, e.g. with the assets symlinked underneath it. That way we can continue to support the legacy https://blog.ipfs.io.

[2017-06-20 16:16] VictorBjelkholm commented on #116
Sounds good to me, scaffolding and content separated 👍

[2017-06-20 19:09] mishmosh commented on #116
Let's say in 6-12 months we want to move blog deploy responsibility off @lgeirth's plate (or at least set up a secondary person). Are we willing to also give that person deploy access to ipfs homepage?

If yes, then merging as described above (keeping markdown files here) sounds good to mew.

[2017-06-20 19:39] lgierth commented on #116
Let's say we completely automate website-ish deploys in the next 3 months ;)

[2017-06-21 00:50] diasdavid commented on #116
@mishmosh absolutely. This won't interfere at all. In fact, it might even might result in a solution that will be less error prone as the contributors to the blog (imagine guest blog posts) won't be able to mess with deployment

[2017-06-21 03:00] mishmosh commented on #116
Perfect.

On Tue, Jun 20, 2017 at 8:50 PM David Dias <notifications@github.com> wrote:

[2017-06-21 11:31] Asgraf opened #119 "RSS feed is not updating"
blog.ipfs.io/rss.xml shows some very old articles instead of latest ones

[2017-06-21 14:02] diasdavid commented on #116
@olizilla @alanshaw let's do this on the next sprint :)

[2017-06-21 14:06] diasdavid commented on #119
This will be fixed with https://github.com/ipfs/blog/pull/118 . Thanks for reporting!

[2017-06-21 14:40] #107 closed

[2017-06-22 11:26] diasdavid opened #120 "Deploy the new blog"
@lgierth the code in `master` is now a version of the blog all ported to Hugo 🌟 and it will solve the following issues:

- https://github.com/ipfs/blog/issues/119
- ~~https://github.com/ipfs/blog/issues/22~~ actually this is a problem of blog duplication.

Could you deploy the new version? Thanks!

[2017-06-22 11:26] diasdavid commented on #119
Will be solved with https://github.com/ipfs/blog/issues/120, let's track this there :)

[2017-06-22 11:26] #119 closed

[2017-06-23 16:48] lgierth opened #121 "Need to use relative URLs"
All website added to IPFS need to use relative URLs. The blog has a lot of canonical https://ipfs.io URLs in it now, which breaks all other ways of accessing it apart from the canonical URL -- e.g. https://ipfs.io/ipfs/QmbeQMegjb6Xv3oh5A2zQTwT69rVSVHBZxTanuoaT9yJUe works on first sight, but then all links use the canonical URL instead.

This is a regression since you can't use the blog offline any

[2017-06-23 16:51] lgierth commented on #121
Oops nevermind, instead of build/ I had added public/ which was an old artifact on my computer.

[2017-06-23 16:56] lgierth commented on #120
Someone else already published it...

[2017-06-23 16:56] #120 closed

[2017-06-24 00:41] diasdavid commented on #120
Who?

[2017-06-28 17:23] lgierth commented on #121
Nevermind my previous comment, public/ is the correct output directory.

This issue stands open, we need to use relative URLs everywhere.

[2017-06-28 20:36] #121 closed

[2017-06-30 14:32] jbenet commented on #116
@diasdavid as described by email, keep all the blog content and the ability to generate a web page from it, here, isolated from the main website.

it doesn't have to be the same website. if you want to move all the ipfs.io styled website stuff to ipfs/website, that's fine. But keep the content and a way to get a simple website out of it (i.e. have its own static website compiling setup) here.

[2017-07-05 22:42] mishmosh commented on #109
@flyingzumwalt you said there could be 2 blog posts here but it might actually be 3. Love it.

In thinking about getting one of these posts out into the world:
* The original "Why Cultural Institutions Need IPFS" holds an extremely strong point of view. Could we reserve some of that content for an editorial from Matt in another publication (perhaps another journal or magazine so we can tap their a

[2017-07-06 07:06] diasdavid commented on #109
@mishmosh the demo has been recorded during the IPFS All Hands, here: https://youtu.be/hmAniA6g9D0?t=10m39s :)

[2017-07-06 07:07] diasdavid commented on #109
Also, @pgte might have some good descriptions of all the building blocks he created for this, with pointers of how to get started and future work.

[2017-07-13 08:41] diasdavid opened #129 "I wanted to publish but I don't have DO access"
![image](https://user-images.githubusercontent.com/1211152/28157737-56250f16-67af-11e7-9b67-61028281a9f4.png)

I've already published and pinned: https://ipfs.io/ipfs/QmT1iDxTPjNiVJrLQv64G8Be2qz3WS7NdiqTFRrHXV9qvg/ but I'm missing DO access to actually update the blog.

@lgierth could you give me some help?

[2017-07-13 12:20] lgierth commented on #129
You need to log into DO and make a new API access token for yourself, then put it into `~/.protocol/digitalocean.token`

[2017-07-29 15:53] #129 closed

[2017-07-29 15:58] diasdavid commented on #22
Unfortunately, seems that this didn't get fix with the #118

![image](https://user-images.githubusercontent.com/1211152/28746165-a374e352-743b-11e7-89d2-353abbd53699.png)

@alanshaw @richsilv any thoughts on this? I might have assumed incorrectly that moving to Hugo would fix this, do you know what needs to happen to make it work?

[2017-08-04 12:35] diasdavid opened #136 "links to the blog are broken"
Saw: https://twitter.com/balupton/status/893413916621000704

@richsilv @alanshaw mind checking this? Seems that they are missing the `/blog/` part. Thanks!

[2017-08-04 15:29] lgierth commented on #136
Oops I filed an issue too -- gonna close in favor of ipfs/website#220 since that's the correct repo

[2017-08-04 15:30] #136 closed

[2017-08-04 16:32] flyingzumwalt opened #137 "Proposal: Editorial Workflow (v2)"
[_This is not the first discussion of editorial workflow for the IPFS blog. Previous attempts resulted in explicit, regimented workflows that didn't prove useful. Please think of this proposal as a fresh start._]

As the IPFS project grows, and as our activities widen, we have a choice to make about the editorial approach, and overall "voice" of the blog:

**Option 1**: Make the blog into a tightl

[2017-08-05 04:31] mishmosh commented on #137
This is a great approach to take the IPFS blog to the next stage. It's fairly close to how we've been operating in recent months. To get publisher, editors, and blog contributors on the same page, I'd like to propose the following addition:

3.5. Editors write a Contributors guide outlining the editorial policies, especially aspects like:
* naming the types of posts we want to encourage
* framing

[2017-08-05 05:44] diasdavid commented on #137
Thank you for writing down this proposal, Matt. As @mishmosh pointed out, it is very much like the way we've been operating the blog and what enabled it to have more life. We've been receiving a lot of love for the recent articles.

Shall we consider bringing back the IPFS Newsletter as we design the new Editorial workflow?

[2017-08-06 07:45] diasdavid opened #140 "Latest update broke previous urls"
Just noticed that the blog doesn't resolve urls such as: `https://ipfs.io/blog/30-js-ipfs-crdts.md` anymore, this came in with the latest style change.

This is considered a very severe bug since it breaks all the links that link to the blog, starting with our own reference in reddit: https://www.reddit.com/r/ipfs/comments/6qzu0c/decentralized_realtime_collaborative_documents/

@alanshaw could you

[2017-08-06 12:58] #140 closed

[2017-08-18 11:58] alanshaw commented on #22
I think this is now resolved - at least, it is working for me 😛

[2017-08-18 12:30] diasdavid commented on #22
Almost, tried it out and noticed there is a top article that is just the template:

![image](https://user-images.githubusercontent.com/1211152/29458928-bc30d126-8421-11e7-8965-f918aecebd5a.png)

[2017-08-18 12:31] diasdavid commented on #22
https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fipfs.io%2Fblog%2Findex.xml shows multiple errors

[2017-08-19 10:06] #22 closed

[2017-10-07 22:12] imrehg opened #145 "Blog links are broken on ipfs.io"
There's a mismatch as the deployed [index.json](https://ipfs.io/blog/index.json) contains absolute links while the [website](https://github.com/ipfs/website) seems to expects relative addresses beyond `ipfs.io/blog/`. The end results are linkes like, for example `https://ipfs.io/bloghttps://ipfs.io/blog/30-js-ipfs-0-26/` (for the "js-ipfs 0.26.0 released" post), which are obviously broken, and thu

[2017-10-08 15:35] deshmukhmayur opened #146 "The IPFS Weekly 2 hyperlink is broken on the blog homepage"
The link on the blog homepage (Starlog page) points to `https://ipfs.io/blog/blog/post/5-ipfs-weekly-2/` whereas the url convention for other posts is `https:/ipfs.io/blog/<number>-<title>`

Also, the actual post is on the url `https://ipfs.io/blog/post/5-ipfs-weekly-2/`

[2018-02-06 18:14] #146 closed

[2018-04-06 09:09] VictorBjelkholm commented on #100
One quick thought on this. There are two different ways we could do this.

1. Generate topics automatically. This can become a hassle if we don't figure out which URL scheme to use for this, as the blog could be visited in many different ways (blog.ipfs.io, ipfs.io/blog, ipfs.io/ipfs/$hashOfBlog, localhost/ipfs/$hashOfBlog) and Discourse could be confused into believing they are all different topi

[2018-04-10 11:33] lidel opened #155 "Build issues with latest Hugo"
Hugo  v0.31.1 is used by the CI setup and it works [fine](https://user-images.githubusercontent.com/157609/38552945-060d3172-3cbe-11e8-82be-6f5bbc907d77.png).

However if I try to build it locally with the latest Hugo (v0.38.2) it produces no posts:

I did not look into details, as the quick workaround was to just use [v0.31.1](https://github.com/gohugoio/hugo/releases/v0.31.1) for this repo.

[2018-04-10 12:56] Stebalien commented on #155
I can confirm and I have no idea what's going on.

[2018-04-10 12:58] VictorBjelkholm commented on #155
API changes... Gonna give it a try to fix as this is not the first time we encounter this...

[2018-04-11 12:37] djdv opened #157 "Build issue on Windows"
One of the NPM dependencies `do-wrapper` tests itself during installation, the test uses a wildcard character which is seen as a literal "*", this is preventing the installation from completing.
[code]

[2018-04-11 12:46] lgierth commented on #157
You can safely remove the do-wrapper dependency, it's from back when the domains were with Digitalocean. Nowadays Jenkins takes care of updating the dnslink records for us.

[2018-04-13 21:55] djdv commented on #157
@lgierth
Removing `dnslink-deploy` allows the modules to be installed and I can start the server, but I'm still having trouble generating styled pages. For whatever reason `less-plugin-autoprefix` is not being detected.

[code]
It's certainly installed in the same level next to `less` under `node_modules` so I'm not sure where the issue is.

[2018-04-16 14:48] djdv commented on #157
I updated NPM to latest, re-fetched the modules and everything seems to be building now.
The original problem with the `do-wrapper` dep inside of `dnslink-deploy` still exists, but removing it locally works around that for now.

[2018-04-17 06:53] VictorBjelkholm commented on #100
Went with solution #1, which works well as we set the canonical URL under `blog.ipfs.io` and no matter how you visit it, that'll be the URL that gets linked with the post.

However, embedding only works for whitelisted domains, so embedding won't even try to embed the comments if visiting the post under another domain than localhost:1313 (for dev) or blog.ipfs.io.

PR for implementing this is here

[2018-04-17 09:52] lidel commented on #100
Somehow related: I noticed that https://ipfs.io/blog/ does not redirect to https://blog.ipfs.io, but hosts content directly.   I imagine https://ipfs.io/blog/ will not have correct comments unless whitelisted?
Shouldn't it redirect to https://blog.ipfs.io, to remove dupplicated URLs?

[2018-04-17 10:04] VictorBjelkholm commented on #100
@lidel right, good point. According to https://github.com/ipfs/blog/issues/116 the canonical URL is support to be ipfs.io/blog, not blog.ipfs.io which is supported as legacy right now. So rather blog.ipfs.io should redirect to ipfs.io/blog, which for now just loads blog.ipfs.io but in the future would actually shows the content of /blog from github.com/ipfs/website. Changing the PR to reflect this

[2018-05-03 17:11] flyingzumwalt opened #161 "Blog post about DHT NAT issues"
Once @vyzo, @whyrusleeping et al. have resolved this challenge with DHT & NAT (majority of the peers on the DHT can't be dialed due to NAT issues) It would be really cool to have a blog post explaining what we saw happening on the network and how we resolved it.

cc @mgoelzer

[2018-05-03 17:13] VictorBjelkholm commented on #161
Think we should do this as a post-mortem as it severely affects the network. Then we can publish that post-mortem together with a friendly description as a blog post.

[2018-05-03 17:16] vyzo commented on #161
We haven't fixed it yet!

We should wait until we are ready to roll out a new release with the relays plugged in.
This will has the added advantage of bringing attention to the new release and urging our node operators to upgrade.

[2018-07-18 10:04] flyingzumwalt opened #166 "Blog Post: Using Git and IPFS to Build a Simple Searchable Website"
There's a cool story to tell here, and some great sample code that we should feature about making the static site for awesome-ipfs and window.ipfs demos.

We've just merged a [PR in ipfs/awesome-ipfs](https://github.com/ipfs/awesome-ipfs/issues/126) with work by @hacdias that renders awesome-ipfs as a static website that's full of dynamic features (search, filter, etc). It looks like the ipfs-comp

[2018-07-18 10:10] flyingzumwalt commented on #166
We can probably come up with a better title, though this one might make it a very popular destination for people looking for learning materials.

[2018-08-22 13:47] lidel commented on #100
I am looking into making dnslink enabled by default in [ipfs-companion](https://github.com/ipfs/ipfs-companion) and our own websites are not ideal when loaded from IPNS.

I created https://github.com/ipfs/website/pull/270 to default to `blog.ipfs.io` as a quick fix for navigation links when loaded via `/ipns/ipfs.io/`

Question: are we able to whitelist comment embedding into non-http URLs?
Namely

[2018-08-31 21:26] lidel commented on #100
@VictorBjelkholm is it possible to  add `http://127.0.0.1:8080` as a valid embed host at our Discourse instance? It would fix comments for a lot of people using DNSLink :)

[2018-08-31 21:41] Stebalien commented on #100
I assume we'll end up with an "insecure content" problem, unfortunately (unless the browser treats localhost differently?).

[2018-08-31 21:54] lidel commented on #100
@Stebalien it is safe: browser vendors whitelist `127.0.0.1` and `::1`  and those do not trigger mixed-content warnings.

- Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=903966
- Chromium: https://chromium.googlesource.com/chromium/src.git/+/130ee686fa00b617bfc001ceb3bb49782da2cb4e

The formal background on this decision is probably Step 4 from [_Is origin potentially trustworthy?_ in  HTM

[2018-08-31 22:45] Stebalien commented on #100
Ah, got it.

[2018-09-17 16:35] mikeal opened #174 "Newsletter: Add subscribe embed to the bottom of newsletter posts"
Heya,

We're getting the newsletter up and running again and we'd like to have a "subscribe" embed inserted in the bottom of the blog posts that are from cross-posted weekly newsletters.

I'm not super familiar with hugo so I don't know how easy this is. If you give me some pointers I can probably send a PR myself.

[2018-09-21 21:06] lidel commented on #174
I think you want to look at https://github.com/ipfs/blog/blob/master/layouts/post/single.html
We already have JS snippet for embedding Discourse comments after every blog post, I imagine subscribe embed will be similar case.

[2018-09-21 21:11] lidel opened #175 "Enable comments when loaded via http://127.0.0.1:8080/ipns/blog.ipfs.io/"
Right now comments do not load for users of IPFS Companion due to DNSLink redirect.
I think we should  at least whitelist the default local gateway, it will probably fix it for most users.

Not sure who has the admin on http://discuss.ipfs.io/, but AFAIK we just need to add `http://127.0.0.1:8080/ipns/blog.ipfs.io/`  as a valid embed URL.

[2018-09-21 21:48] mikeal commented on #174
@lidel is there an easy way to know if the post in question is a weekly newsletter post or not? Ideally I'd like to only add the embed to those posts.

[2018-09-21 22:16] lidel commented on #174
hm..  I think hugo creates [tag](https://gohugo.io/content-management/taxonomies/) taxonomy by default, so we could mark them with `newsletter`  tag  by adding this to the header of newsletter posts:

[code]

Then we could use conditional in `single.html`:

[code]

(not tested, syntax may be invalid but the idea should be sound)

[2018-09-25 15:24] mikeal opened #177 "Automate publishing"
According to the README all the publishing is done manually and requires access to DigitalOcean.

Is this still true? Can we get this automated like some of the other sites?

[2018-09-25 17:02] mikeal commented on #177
Also, can we get a manual publish for the latest.

I tried to run the publishing locally to at least just hand you a CID but it wants to authenticate to npm in order to run so there's some additional assumptions about access controls in the publishing script we haven't even documented.

@diasdavid said that @VictorBjelkholm is the person to ping here :)

[2018-09-25 17:38] VictorBjelkholm commented on #177
Hey, it's already setup to be automatic! You can tell by the Status messages in the PR and also the presence of a [Jenkinsfile](https://github.com/ipfs/blog/blob/master/ci/Jenkinsfile).

Is it not up-to-date? [Last commit](https://github.com/ipfs/blog/commit/df4ef086484b274bc4e613a1fcfb110f44c97618) was [successfully built and deployed](https://ci.ipfs.team/job/IPFS/job/blog/job/master/32/)

[2018-09-25 17:39] VictorBjelkholm commented on #177
Keep in mind as there are DNS updates, it can take some time for the records to propagate.

[2018-09-25 19:56] mikeal commented on #177
Ah, awesome. We should get the README updated :)

[2018-09-25 19:56] #177 closed

[2018-11-02 11:04] diasdavid opened #188 "RSS feed is incomplete"
Can we make the IPFS blog RSS friendly?

<img width="694" alt="image" src="https://user-images.githubusercontent.com/1211152/47911956-40007580-de97-11e8-99f1-ac54abfad96c.png">

[2018-11-04 18:40] #145 closed

[2018-11-07 17:03] #188 closed

[2019-01-08 21:06] renrutnnej opened #206 "Blog post not loading to site"
IPFS Weekly writer here 👋 and I merged the latest issue approx 15 minutes ago and it's not loading to https://blog.ipfs.io/. Could someone check it out?

[2019-01-08 21:31] #206 closed

[2019-03-16 11:05] Mikaela commented on #114
Does https://github.com/ipfs/go-ipfs/issues/4110 have anything to do with this or will it when it happens?

[2019-03-16 18:58] Stebalien commented on #114
No. This issue is just about our "private networks" features where uses with a shared key can create a completely separate, encrypted ipfs cluster that never joins the main network.

[2019-03-22 11:37] #155 closed

[2019-04-05 19:21] momack2 opened #232 "Add an explainer to the readme for how to add images to blog posts?"
Since we frequently want to embed videos or images in our blog posts, it would be great to document how to insert an image into a blog post (in addition to normal markdown). There are different examples in past blog posts (some adding it to an "/imgs" folder, some pulling from ipfs). A quick "how to" would be useful to document the options and pros/cons!

[2019-04-05 20:19] momack2 commented on #232
What I just did (which hopefully works):
1. Create a folder with the name of the blog post in the “static” folder
2. Create an img folder and upload desired pngs
3. Use markdown to reference the img in your blog post as ![subtext](img/<name of your png>)

[2019-05-21 20:52] autonome opened #246 "Some links download .md files"
I found a link to https://blog.ipfs.io/37-ipfs-conf-dev-meetings-and-user-registry.md in a Github conversation, but it just downloads the markdown file instead of rendering it.

Any ideas why that one? I haven't tested to see which others are doing this also.

[2019-05-21 20:56] autonome commented on #246
Hm, in the blog index, it's the only one w/ .md extension.

S replacing with slash...

https://blog.ipfs.io/37-ipfs-conf-dev-meetings-and-user-registry/

gets...

ipfs resolve -r /ipns/blog.ipfs.io/37-ipfs-conf-dev-meetings-and-user-registry/: no link named "37-ipfs-conf-dev-meetings-and-user-registry" under QmQR5hdRyFkmoHNprUqAHKfXe3fJstFvEKhrnbyFv54jfj

[2019-07-21 12:05] tapaswenipathak commented on #47
Hi folks - Is the ticket still open, can I work on the ticket?

[2019-07-22 22:25] Stebalien commented on #47
@tapaswenipathak yes, it's still an issue. A PR would be awesome!

[2019-07-22 23:45] #47 closed

[2019-08-06 22:15] autonome commented on #246
the original doc: https://github.com/ipfs/blog/blob/master/content/post/026-ipfs-conf-dev-meetings-and-user-registry.md

[2019-08-07 16:01] Stebalien opened #283 "Auto-link github handles"
It would be awesome if GitHub `@` mentions were auto-linked to GitHub profiles in blog posts. I'm hoping there's an existing plugin but there likely isn't.

[2019-08-14 05:42] Stebalien opened #288 "Images should be stored in this repo"
We're currently hotlinking to github. Instead, they should be stored in the `static` directory and served out of IPFS with the rest of the blog.

[2019-08-30 19:23] ericronne opened #295 "Perform a design audit on the blog"
See whether we can't execute some quick design improvements.

[2019-10-09 02:13] autonome opened #312 "Circle CI jobs being built but not deployed"
Pushed #311 and noticed it never went live on the blog.

Looks like #307 hit this too.

I poked Infra on Slack.

[2019-10-09 03:43] autonome commented on #312
Weeks of failed jobs due to permissions problem. Looks like maybe only pushes from admins deploy...

[2019-10-09 07:23] daviddias opened #313 "https://ipfs.io/blog/30-js-ipfs-crdts.md invites me to download the markdown file"
instead of rendering the post.

[2019-11-15 15:58] olizilla opened #328 "Weeklys after number 62 are missing their number"
As reported by @renrutnnej, the weeklys numbers are missing!

![Screenshot 2019-11-15 at 15 57 12](https://user-images.githubusercontent.com/58871/68956773-a0233a80-07c0-11ea-89fe-a25b82a766b9.png)

I can't recreate it! Building locally works fine. More investigation needed.

[2019-11-15 22:13] jessicaschilling commented on #312
I just ran into this on #329 too. @autonome or @daviddias - what’s the manual way around this? I can’t deploy ... :(

[2019-11-15 22:33] autonome commented on #312
For posterity, this is still happening, showed up in #329.

[2019-11-15 22:41] olizilla commented on #312
The "fix" for this is that anyone who does the merge needs to be subscribed to the circle CI builds for the repo, otherwise it seems to fail to match the user as someone who has permission to trigger the build.

[2019-11-18 11:13] olizilla commented on #328
This appears to be fixed! Did someone change a thing?

[2019-11-18 11:13] #328 closed

[2020-01-10 17:06] jennwrites opened #349 "RSS Feed"
Is it possible to see how many people subscribe to the blog via RSS?

[2020-01-28 19:48] renrutnnej opened #355 "numbers disappearing from blog titles"
<img width="495" alt="Screen Shot 2020-01-28 at 1 46 23 PM" src="https://user-images.githubusercontent.com/2582805/73299383-b6903e00-41d4-11ea-9575-9ca0549d8641.png">

Some of the IPFS Weekly blog posts show the issue # but the recent ones do not. 🤔

[2020-01-29 15:08] #355 closed

[2020-01-29 15:09] alanshaw commented on #355
@renrutnnej please note the fix in https://github.com/ipfs/blog/pull/356 - would you mind sending a PR to fix the latest one?

[2020-01-29 15:31] renrutnnej commented on #355
@alanshaw yep, thanks again!

[2020-01-30 11:40] lidel opened #360 "Fix ipfs.io/blog/* links loaded via DNSLink"
We've moved blog to `blog.ipfs.io` and fixed most of problems in https://github.com/ipfs/blog/pull/182 but links to `ipfs.io/blog/*` are still around due to the way Discourse integration was done for comments.

Example: try opening https://ipfs.io/blog/2020-01-30-go-ipfs-0-4-23/ with ipfs-companion's redirect to local gateway enabled.

Links under `ipfs.io/blog/*` break when DNSLink for ipfs.io is

[2020-02-02 14:04] lidel commented on #349
Not sure.  Most of proprietary services provide a number that is some sort of "daily average" (example: [squarespace](https://blog.squarespace.com/blog/2008/1/31/understanding-rss-feed-subscriber-stats.html)), there is also https://feedburner.google.com which provides extensive stats, but it requires feed to be routed via Google servers :(

Without using any third party, the best we could do is to

[2020-02-06 12:14] alanshaw opened #365 "Schedule a blog post for automatic publication"
See https://github.com/ipfs/blog/pull/364

A nightly Github action to run CI would allow us to schedule blog posts to be automatically published on the given date/time.

[2020-02-06 17:05] mikeal commented on #365
You could just run it hourly, as long as the script finishes in under an hour there’s no harm in giving you some more granularity on the time.

I have a half dozen repos with hourly actions and the only time they get into trouble is when they take longer than an hour to run.

[2020-02-07 12:56] #365 closed

[2020-02-11 12:59] lidel commented on #360
I've implemented both fixes, see https://github.com/ipfs/blog/pull/372 & https://github.com/ipfs-shipyard/ipfs-companion/pull/844

[2020-02-11 16:54] jessicaschilling commented on #360
@lidel @olizilla This makes sense to me!

[2020-02-13 09:21] olizilla commented on #360
Can we fix discord?

[2020-02-13 13:23] jessicaschilling commented on #360
Pretty sure admins can search/replace, but it’d have to be done manually and I’m a bit concerned about the optics of editing community posts. We’ll have the same issue with docs URLs once the legacy docs are deprecated, and the plan was to be really good about redirects on the infra side (we’re talking about something like 55 pages in that case).

[2020-02-13 16:40] lidel commented on #360
There is one sensitive place: the code responsible for displaying comments on the blog.

The tricky line is at:

https://github.com/ipfs/blog/blob/cb4f40549b49efdf5fcefcb49badf50c9dad0682/layouts/post/single.html#L26

AFAIK we can't change this URL for existing posts because it would create new thread for each one, and lose connection to existing comments.

The `'https://ipfs.io/blog/{{ .URL }}'`

[2020-02-13 16:59] olizilla commented on #360
That is madness... how do people migrate these things... I can see https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

says you can point people to existing discussions if you use the discourseUrl, but it's much the same problem...this is the worst.

[2020-02-13 18:17] lidel commented on #360
@olizilla yes, it is pretty unfortunate :(

Don't think we can fix this for historical discussion threads without changing values in SQL table of Discourse somewhere.

Perhaps fixing future posts is enough?
See a fix proposed in https://github.com/ipfs/blog/pull/375

[2020-02-18 22:23] lidel opened #377 "Update link in the repo description"
Who has admin rights and can change `ipfs.io/blog` to `blog.ipfs.io` in this repo's description?
@olizilla?

[2020-02-20 14:20] hsanjuan commented on #377
I do

[2020-02-20 14:20] #377 closed

[2020-02-20 21:02] #360 closed

[2020-03-01 17:23] olizilla commented on #313
the post "Announcements: IPFS Conf, Developer Meetings for IPFS & libp2p and a User Registry"
does the same...

[2020-03-05 11:09] #313 closed

[2020-03-16 11:19] lidel commented on #100
Its done!

http://blog.ipfs.io/weekly-80/ has a comments section at the bottom, when loaded from original server comments are displayed from topic in https://discuss.ipfs.io/c/news/blog-entries/20

Loading comments when on local IPFS gateway is tracked in https://github.com/ipfs/blog/issues/175

[2020-03-26 17:08] #108 closed

[2020-03-31 02:40] momack2 commented on #295
IPFS Blog:
![image](https://user-images.githubusercontent.com/618519/77981132-ee436100-72bd-11ea-880e-86a1217bf2af.png)

Filecoin blog:
![image](https://user-images.githubusercontent.com/618519/77981173-0c10c600-72be-11ea-81cc-a8d179e0a17f.png)

I'd be great to get some small tweaks to make these blog posts stand out more easily. I think using more imagery like the Filecoin blog does is a great wa

[2020-04-01 20:41] johnnymatthews commented on #295
Threw this together (using random placeholder images). Thoughts?

![Screenshot_2020-04-01 IPFS Blog](https://user-images.githubusercontent.com/9611008/78184375-6719f880-7437-11ea-8d1d-37614d459e98.png)

Having a bunch of images on the screen would mean we'd have to paginate things a little bit. We'd also have to assign each article a picture.

[2020-04-01 22:36] momack2 commented on #295
J'adore!! I think it's a huge improvement over the previous one. Would love to make the titles 2x bigger though. I bet @renrutnnej or I can help source the right header images too (would love to have a design image for the IPFS Weekly Newsletter for both this and Mailchimp!)

[2020-04-02 05:33] johnnymatthews commented on #295
Pushed my changes to [`ipfs/blog:blog-picture-list`](https://github.com/ipfs/blog/tree/blog-picture-list). I don't think there's any CI stuff to preview it, so here's a screenshot:

![Screenshot_2020-04-02 IPFS Blog](https://user-images.githubusercontent.com/9611008/78213751-82115a80-7481-11ea-97a2-5688ec302348.png)

I reduced the columns to 2, and added the placeholder image. If there's no `heade

[2020-04-02 14:25] renrutnnej commented on #295
Happy to help! Excited that the IPFS blog is getting the royal treatment 🥰

As far as a header image for the weekly, I think I'll need to put in a design request for that one. The closest thing I have currently is some open sourced artwork and/or our logo 😂

[2020-04-08 12:10] momack2 commented on #295
@johnnymatthews what is the structure for adding in the images I noted in this sheet: https://docs.google.com/spreadsheets/d/1q3dNlFcxlsX1a666GeyaKBCJ7A4H9tLwSHgSeRR2MEQ/edit#gid=0?

[2020-04-08 15:46] johnnymatthews commented on #295
I'll write a script to download the images that are in the spreadsheet, and add them to the appropriate blog post. I'll use a placeholder for anything with `IPFS Weekly` in the name until @renrutnnej finds a cool picture for those. Everything else (posts that aren't an IPFS Weekly and don't have an image assigned), will default back to the space-IPFS placeholder used above. Shouldn't take too long

[2020-04-08 17:40] johnnymatthews commented on #295
Just thought, we might run into an issue with page-load times if we're serving a bunch of images. Pretty sure [Hugo deals with pagination](https://gohugo.io/templates/pagination/) fairly well though. I'll take a look.

[2020-04-08 21:13] johnnymatthews commented on #295
[PR 391 here](https://github.com/ipfs/blog/pull/391).

[2020-04-20 20:20] autonome commented on #288
Fix ideally would include

* docs update to instruct authors to do it this way, and how
* linter hook and/or CI for preventing non-local images from being posted

[2020-04-20 20:22] Stebalien commented on #288
[code]

Even the ones that point to the gateway/ipfs should move into the repo.

[2020-04-21 20:19] mburns opened #398 "The Blog has a hard depdendency on hello.myfonts.net"
https://github.com/ipfs/blog/blob/master/less/components/typography.less#L43

# Description

[New builds in Circle are failing](https://app.circleci.com/pipelines/github/ipfs/blog/954/workflows/6258dace-3fc0-4416-865f-9a5604a9b3b7/jobs/1724) the `make` step because it cannot load the external dependency https://hello.myfonts.net/count/314625.less

Looks like the myfonts.net site is offline at the

[2020-04-21 20:45] johnnymatthews commented on #398
I'll take this one.

[2020-04-22 11:27] jbenet opened #400 "No pagination"
Love the new index -- much nicer!

- I request we remove pagination from the blog index though
- Pagination on the blog makes it very hard to find content. Many great blogs are moving to no pagination (long) pages. This should be OK from a loading perspective, as browsers only really load the images once scrolling happens.
- if we _really need_ pagination, then please make the full listing another

[2020-04-22 11:28] jbenet commented on #400
Great examples:
- https://openai.com/blog/
- https://distill.pub/
- https://colah.github.io/

[2020-04-22 11:33] jbenet opened #401 "3x grid"
Really love the new grid, thank you for doing that! much nicer way to see the blog.

Request: blogs with 3x grids are pretty good. Right now the images are very big, could be smaller (to fit a third). At least this in the higher resolutions (full laptop screen width).

Example:
- https://blog.textile.io/

Demo

![image](https://user-images.githubusercontent.com/138401/79976959-5b2bc000-8452-11ea-8

[2020-04-23 16:03] johnnymatthews commented on #398
Fixed in 55ed32a93f58979c76be42c76b0c7babd0d4665a

[2020-04-23 16:03] #398 closed

[2020-06-03 18:20] Stebalien opened #423 "Make sure all blog posts get a directory"
It looks like some blog posts (e.g., the recent gossipsub one) are being written as flat html files with no `.html` extension in the `posts` directory. Instead, we _should_ be creating one directory per post, with an `index.html` file in each directory.

This bug means go-ipfs is failing to correctly detect the content type. In this case, go-ipfs sees the `.1` and thinks the gossipsub post is a ma

[2020-06-03 18:22] Stebalien commented on #423
![download](https://user-images.githubusercontent.com/310393/83673334-7a0e8d80-a58c-11ea-96c0-53470c096c75.png)

[2020-06-03 18:36] autonome commented on #423
Making all blog posts a directory is likely overly prescriptive.

Band-aid is to rename the file.

Fix is to find out why/where the file extension creation is failing - should confirm if it's an actual Hugo bug.

[2020-06-03 23:42] Stebalien commented on #423
Ah, now I see the issue. Hugo is saying "you've specified an extension here, this must be a file!". So it creates a file instead of a directory with an index.html file.

[2020-06-03 23:55] Stebalien commented on #423
Looks like @hugomrdias was right. We just needed these URLs to start and end with a slash.

[2020-06-04 15:25] #423 closed

[2020-06-09 19:48] Stebalien commented on #246
This has now been fixed.

[2020-06-09 19:48] #246 closed

[2020-06-12 12:50] autonome opened #435 "index page header images should be pulled from post assets dir"
Right now we have *three* separate places in the filesystem where a post's data is stored, if a post has images:

* content/post/*.md
* static/imgs/*.*
* static/header_images/*.*

I'd like to have the blog header image frontmatter field `header_image` just pull from the post assets folder (and have an assets folder per post), instead of a special folder for index page header images. This allows al

[2020-06-12 12:52] autonome opened #436 "Implement tags"
We add tags to our posts' frontmatter (sometimes) but there's no implementation - no place they're actually shown on the site.

They could be visible below each post in the index page, somewhere on a post page, and many other places besides.

[2020-06-12 12:54] autonome opened #437 "Blog header images on index page should be autocentered, not require exact aspect ratio"
Right now, if a blog post header image on the index page (blog.ipfs.io) is not aspect ratio 2:1, it's either too tall or short.

This means a few things:

* we have to make custom images for the index page blog post header and the actual blog post header when 2:1 doesn't work on the post itself.

* it's error prone as authors don't know this rule and there's no validation in place that stops them

[2020-06-23 01:26] autonome opened #442 "Fix image centering (by css or by docs)"
Right now, inline images on posts are not centered.

We should either center via site-wide CSS or add docs for consistent and best practice centering.

Then update all posts that might have either post-specific centering CSS.

[2020-06-23 02:49] autonome commented on #442
Eg, we should remove things like I did here, in favor of sitewide css, so that the .md content is portable: https://github.com/ipfs/blog/commit/a73e8ca6e62725f65e6b08d5a4d134f9bfc6fe4e

[2020-07-01 19:36] momack2 opened #448 "Evaluate GA replacements"
Evaluate https://matomo.org/ or others in this list (https://switching.software/replace/google-analytics/) as an OSS replacement for Google Analytics.

Ref https://github.com/ipfs/blog/pull/447

[2020-07-01 19:39] momack2 commented on #174
It'd be nice to embed this page (https://ipfs.us4.list-manage.com/subscribe?u=25473244c7d18b897f5a1ff6b&id=cad54b2230) directly into the place it's linked at the bottom of newsletter posts: https://blog.ipfs.io/weekly-95/ Maybe @renrutnnej you can chat with @jessicaschilling and @rafaelramalho19 about adding this to the backlog for website improvements?

[2020-07-01 19:40] resynth1943 commented on #448
The analytics solutions in that list are very good, yes. Thank you for linking it, and thank you for being to open to suggestions!

[2020-07-01 19:44] resynth1943 commented on #448
I would also like to entertain the possibility of finding a FOSS replacement for Google Forms, as I see that is being used in the blog quite frequently.

[Perhaps something on this list?](https://switching.software/replace/google-forms/)

[2020-07-01 20:06] jessicaschilling commented on #174
@cwaring -- do you know anything about embeds in Hugo? Is this something you'd have time to tackle?

[2020-07-01 20:07] johnnymatthews commented on #401
Sure. I'll take this one. I'm hoping it just requires changing a class somewhere.

[2020-07-01 20:07] jessicaschilling commented on #401
@johnnymatthews -- thanks!

[2020-07-01 20:18] johnnymatthews commented on #401
Here we go:

![image](https://user-images.githubusercontent.com/9611008/86287644-864f3000-bbb6-11ea-8278-93629bf13bce.png)

[2020-07-01 20:26] #401 closed

[2020-07-01 22:50] renrutnnej commented on #174
Mailchimp makes it super easy for us to create an embed form, so I can grab that code from the backend for you all to tweak. Let me know!

[2020-07-02 14:28] #115 closed

[2020-07-02 14:28] #110 closed

[2020-07-02 14:29] #114 closed

[2020-07-02 14:29] #113 closed

[2020-07-02 14:29] #112 closed

[2020-07-02 14:29] #111 closed

[2020-07-02 14:29] #109 closed

[2020-07-02 14:30] #106 closed

[2020-07-02 14:54] jessicaschilling commented on #174
@renrutnnej Upon looking at this again -- there's a lot of content on that newsletter signup page, and I'd be a little concerned about adding a lot of length to every newsletter blog post that isn't actually newsletter content. What about adding ...
1. A header line that says something like "Like this post? Get our newsletter?"
2. After the "Get the IPFS Weekly ..." copy, a button CTA going to the

[2020-07-10 06:43] i5heu opened #452 "https://blog.ipfs.io/ = 404 ||| ipfs.io/ipns/blog.ipfs.io = 404"
The Blog is down.
And sadly the blog is not up on ipfs either.

[2020-07-10 06:46] momack2 commented on #452
Thanks for the report! We'll investigate immediately

[2020-07-10 06:58] momack2 commented on #452
Resolved!

[2020-07-10 06:58] #452 closed

[2020-07-21 16:07] renrutnnej commented on #174
This great, thanks @jessicaschilling. Seems like it should be super easy to implement ☺️

[2020-07-21 17:35] jessicaschilling commented on #174
Thanks for the update 😊 I'm going to close this issue, but feel free to ping me if you have any problems!

[2020-07-21 17:35] #174 closed

[2020-08-14 21:44] olizilla commented on #448
We have a countly instance for exactly this! proto.school and webui have been using for many months now. I can PR the change.

@cwaring are you checking the metrics for ipfs/blog? Is ok to switch?

[2020-08-14 22:47] resynth1943 commented on #448
Oh nice! Thank you @olizilla :D

[2020-08-17 19:43] #100 closed

[2020-08-17 19:43] #59 closed

[2020-08-17 19:44] #101 closed

[2020-08-17 19:45] jessicaschilling commented on #295
Closing this, since this round of visual changes has been implemented. We can address further improvements in their own issues as they come up.

[2020-08-17 19:45] #295 closed

[2020-08-17 19:46] #99 closed

[2020-08-17 19:47] #137 closed

[2020-08-17 19:47] #157 closed

[2020-08-17 19:47] #166 closed

[2020-08-18 16:14] resynth1943 commented on #448
P.S. if time is scarce, I would be more than happy to send in an MR, if it helps you? 😁

[2020-11-13 12:21] Ricardo-Silva91 opened #493 "Discussion: Forestry.io integration"
Hello! I'm opening this issue so we can discuss the integration of [forestry.io](https://forestry.io/) in this repository.
One major concern for this is forestry's limitation regarding media uploads (it stores all the images in the same directory, or in a [date]/[img] structure, which is still different from the current [post_url]/[img] structure).

This does not block the old way of uploading pos

[2020-11-13 12:24] Ricardo-Silva91 commented on #493
@autonome , please @ anybody whose eyes you would like to be looking at this 😊

[2020-11-14 03:56] momack2 commented on #493
Filecoin stores all images in the same "blog" folder, and it hasn't been an issue there. I'd be fine with a migration that switches to that pattern (ideally consistently so that we can copy old patterns into new blog posts without worry).

[2020-11-25 00:55] jessicaschilling commented on #436
Hijacking this issue to discuss an initial taxonomy (for both post categories and post tags) to use in our blog replatforming work. @autonome and @jennwrites, your thoughts on the following? Two notes to keep in mind:
1. This is intended to be a closed taxonomy (i.e. post editors can't add new category/tags on the fly), so we want to get as close to fully defined as possible
2. Yes, I already went

[2020-11-30 18:46] jennwrites commented on #436
Based on our convo this morning I put together an attempt at an abbreviated list:

* Bitswap
* blockchain
* browser
* CID
* DAG
* DHT
* event
* gossipsub
* grant
* identity
* IPLD
* IPNS
* libp2p
* mobile
* news
* OS
* pinning
* research
* security
* Testground
* tutorial

[2020-12-16 20:19] autonome commented on #436
Initial questions and then some thoughts on the categories themselves: Why a separation of category and tag? When to use which? Should categories be exhaustive (eg no post without category)?

Re the categories:

As this is for the blog... wouldn't everything fall into this category? What's the use-case?

Should it be just "Release", so we can use it more broadly to talk about new things we shipped

[2020-12-16 21:30] jessicaschilling commented on #436
@autonome - referencing the [wireframe](https://ipfs-ia-scratchpad.netlify.app/blog-news.html) may be helpful for this.

**Categories** represent content types, since the replatformed blog uses a central "news center" metaphor to also present other items, such as papers, news items, tutorials, etc. (This model was tested both internally and externally, and very well received - can share interview

[2020-12-16 21:45] autonome commented on #436
Ahh, was thinking of this in context of the blog not all content types, so nm about the categories questions then.

[2020-12-16 21:46] autonome commented on #436
I'm ok with casting a wide net wrt to tags - more index-ability and we will never predict all the ways in which people search.

[2020-12-16 21:59] jessicaschilling commented on #436
Fair enough - we can always revisit in _n_ months and yank anything that we turn out not to use.

[2020-12-17 16:58] jessicaschilling commented on #400
Closing this issue, since we're removing pagination from the blog in our replatforming work!

[2020-12-17 16:58] #400 closed

[2021-01-14 20:21] jessicaschilling commented on #436
Closing this issue; implementation is happening in the replatform repo.

[2021-01-14 20:21] #436 closed

[2021-02-08 12:51] ocknamo opened #516 "Lack of url for link of "last post" in the blog post "122-ethdenver-bounties.md"."
https://github.com/ipfs/blog/blob/master/content/post/122-ethdenver-bounties.md

The link in the first line of "last post" is broken.

I think url of last post is needed.

[2021-02-08 16:17] #516 closed

[2021-03-10 18:11] jessicaschilling commented on #349
Closing in favor of adding @lidel's suggestion to our overall Countly metrics under https://github.com/ipfs/ipfs-blog/issues/16.

[2021-03-10 18:11] #349 closed

[2021-03-10 18:12] #493 closed

[2021-03-10 18:14] #105 closed

[2021-03-10 18:14] #116 closed

[2021-03-10 18:15] jessicaschilling commented on #161
Closing: stale issue.

[2021-03-10 18:15] #161 closed

[2021-03-10 18:16] jessicaschilling commented on #232
Closing, as this is part of the overall Forestry workflow in https://github.com/ipfs/ipfs-blog.

[2021-03-10 18:16] #232 closed

[2021-03-10 18:16] jessicaschilling commented on #77
Closing: stale issue, and being worked on in great detail in other areas (ecosystem directory, etc).

[2021-03-10 18:16] #77 closed

[2021-03-10 18:18] jessicaschilling commented on #435
Closing, as this is mitigated under the new Forestry workflow in https://github.com/ipfs/ipfs-blog.

[2021-03-10 18:18] #435 closed

[2021-03-10 18:21] jessicaschilling commented on #312
Closing, as this process is moving to Fleek deploy in https://github.com/ipfs/ipfs-blog.

[2021-03-10 18:21] #312 closed

[2021-03-10 18:22] jessicaschilling commented on #288
Closing, as Forestry author workflow in https://github.com/ipfs/ipfs-blog hard-encourages post authors to upload images to repo via the Forestry interface itself. If it continues to be a problem, we can look into linting for non-local images.

[2021-03-10 18:22] #288 closed

[2021-03-10 18:24] jessicaschilling commented on #437
Forestry workflow in https://github.com/ipfs/ipfs-blog uses 2:1 aspect ratio for both card images and hero images, plus includes live preview and a [crop/scale tool](https://ipfs-blog.on.fleek.co/image-crop/). Closing this issue.

[2021-03-10 18:24] #437 closed